{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Contact Us!</h2>
                <form id="contactForm" onsubmit="return sendMail(this);">
                    <input type="text" name="name" id="fullname" placeholder="Your Full Name" class="form-control" required />
                    <input type="email" name="email" id="emailaddress" placeholder="Email Address" class="form-control" required />
                    <textarea rows="8" name="message" id="message" placeholder="Message" class="form-control" required></textarea>
                    <div class="form-button">
                        <button type="submit" id="send-button">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}