{% extends "base.html" %}
{% block content %}

<div class="site-container">
    {% if session.user|lower == seed.created_by|lower or session.user|lower == "admin" %}
        <div class="row edit-buttons">
            <div class="col offset-l10 l1">
                <a href="{{ url_for('edit_seed', seed_id=seed._id) }}" class="btn-floating waves-effect waves-light blue"><i class="fas fa-pencil-alt"></i></a>
            </div>
            <div class="col l1">
                <button>
                    <a data-target="modal1" class="btn-floating modal-trigger waves-effect waves-light red"><i class="fas fa-trash"></i></a>
                </button>
            </div>
        </div>
    {% endif %}
    <h3 class="center-align">{{ seed.seed_name }}</h3>
    <div class="row">
        <div class="col s12 m6 grow-seed">
            <img src="{{ seed.seed_image }}" alt="Seed Image">
        </div>
        <div class="col s12 m6">
            <p class="seed-description">{{ seed.seed_description }}</p>
            <p>Created by: {{ seed.created_by }}</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 instructions">
                <div id="sowing-instructions">
                    <h4>Sowing Instructions</h4>
                    <ul>
                        {% for instructions in seed.sowing_instructions.splitlines() %}
                        <li><i class="fas fa-hand-holding-water"></i> {{ instructions }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="growing-instructions">
                    <h4>Growing Instructions</h4>
                    <ul>
                        {% for instructions in seed.growing_instructions.splitlines() %}
                        <li><i class="fas fa-seedling"></i> {{ instructions }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="harvesting-instructions">
                    <h4>Harvesting Instructions</h4>
                    <ul>
                        {% for instructions in seed.harvesting_instructions.splitlines() %}
                        <li><i class="fas fa-carrot"></i> {{ instructions }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
          <h4 class="center-align">Are you sure?</h4>
          <p class="center-align">Do you really want to delete this seed?</p>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close btn waves-effect red white-text"><i class="far fa-times-circle"></i> Cancel</a>
          <a href="{{ url_for('delete_seed', seed_id=seed._id) }}" class="modal-close btn waves-effect green white-text"><i class="far fa-check-circle"></i> Delete</a>
        </div>
      </div>
</div>

{% endblock %}