{% extends "base.html" %}
{% block content %}

<h3 class="center-align">{{ seed.seed_name }}</h3>
<div class="row">
    <div class="col s12 m6">
        {{ seed.seed_description }}
    </div>
    <div class="col s12 m6 image-container">
        <img class="seed-image" src="{{ seed.seed_image }}" alt="Seed Image">
    </div>
</div>
<div class="row">
    <div class="col s12 m6">
        <ul>
        {% for instructions in seed.sowing_instructions %}
            <li>{{ instructions }}</li>
        {% endfor %}
        </ul>
        <ul>
        {% for instructions in seed.growing_instructions %}
            <li>{{ instructions }}</li>
        {% endfor %}
        </ul>
        <ul>
        {% for instructions in seed.harvesting_instructions %}
            <li>{{ instructions }}</li>
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}