{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="hero">
        <div class="overlay-hero">
            <h5>Learn how to grow your vegetables, fruit, herbs and plants.</h5>
            <h6>Add your own seeds so you can teach others.</h6>
            <a href="{{ url_for('seeds') }}" class="waves-effect waves-light btn light-green">Find Seeds</a>
        </div>
    </div>
</div>

<div class="container">
    <h4 class="center-align">Get Growing</h4>
    <div class="carousel">
    {% for seed in seeds %}
        <a class="carousel-item" href="{{ url_for('get_seed', seed_id=seed._id) }}"><img src="{{ seed.seed_image }}"></a>
    {% endfor %}
    </div>
    
    <h4 class="center-align">Most Recent Seeds</h4>
</div>

{% endblock %}
