{% extends "base.html" %}
{% block title %}The Seed Shelf - Home{% endblock %}

{% block content %}

<div class="row">
    <!-- Hero Image -->
    <div class="hero-image">
        <div class="overlay-hero">
            <!-- Website description on hero image -->
            <div class="hero-content">
                <h4>The Seed Shelf</h4>
                <p>Learn how to grow your vegetables, fruit, herbs and plants.</p>
                <p>Add your own seeds so you can teach others.</p>
                <a href="{{ url_for('seeds') }}" class="waves-effect waves-light btn light-green">Find Seeds</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- Seed Carousel - Code for the carousel was found at https://materializecss.com/carousel.html -->
    <h4 class="center-align profile-heading">Get Growing</h4>
    <div class="carousel carousel-slider">
    {% for seed in seeds %}
        <a class="carousel-item" href="{{ url_for('get_seed', seed_id=seed._id) }}"><img class="carousel-images" src="{{ seed.seed_image }}"></a>
    {% endfor %}
    </div>
</div>

<div class="site-container">
    <!-- The three most recently added seeds -->
    <h4 class="center-align profile-heading">Recently Added</h4>
    <div class="row">
        {% for recent in recents %}
            <div class="col s12 m4 flex">
                <a href="{{ url_for('get_seed', seed_id=recent._id) }}">
                <div class="card medium s4 hoverable">
                    <!-- Image overlay showing the name of the seed -->
                    <div class="overlay-card"><h4>{{ recent.seed_name }}</h4></div>
                    {% if recent.seed_image == "" %}
                    <!-- Default image to be used if no image was added by the user -->
                        <img class="seed-image" src="/static/images/default-image.jpg" alt="Seed Image">
                    {% else %}
                    <!-- Image added by user -->
                        <img class="seed-image" src="{{ recent.seed_image }}" alt="Seed Image">
                    {% endif %}
                </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
