{% extends "base.html" %}
{% block content %}

<div class="container">
        <div class="center-align profile-heading">
                <p>Hey <strong>{{username}}</strong>, you can keep track of all your seeds here. Feel free to edit or delete your
                    current
                    seeds or add even more.</p>
        </div>
        <div class="row profile">
            <div class="col s8 offset-s2">
                <h2 class="center-align">My Seeds</h2>
            </div>
            <div class="col s2">
                <a href="{{ url_for('add_seed') }}" class="btn-floating btn-large waves-effect waves-light red"><i
                        class="fas fa-plus-circle"></i></a>
            </div>
        </div>
        {% if seeds|length > 0 %}
            <div class="row">
                {% for seed in seeds if session.user|lower == seed.created_by|lower %}
                    <div class="col s12 m4">
                        <div class="card">
                            <div class="card-image">
                                <img class="profile-seed-image" src="{{ seed.seed_image }}" alt="Seed Image">
                                <span class="card-title">{{ seed.seed_name }}</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    <strong>Plant Type:</strong> {{ seed.category_name }}
                                    <br>
                                    <strong>Created By:</strong> {{ seed.created_by }}
                                </p>
                            </div>
                            <div class="profile-buttons">
                                <a href="{{ url_for('edit_seed', seed_id=seed._id) }}" class="btn-floating waves-effect waves-light blue"><i class="fas fa-pencil-alt"></i></a>
                                <button>
                                    <a data-target="modal1" class="btn-floating modal-trigger waves-effect waves-light red"><i class="fas fa-trash"></i></a>
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="center-align row">
            <div>
                <p>You have no added any seeds yet!</p>
                <p>Click <a href="{{ url_for('add_seed') }}">here</a> if you would like to add a seed.</p>
            </div>
        </div>
        {% endif %}
</div>
    

{% endblock %}